html {
    overflow: hidden;
    width: 300px;
    height: 100px;
}



.Imagen {
    width: 80%;
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-10%, -25%);
    border-radius: 10%;
}

#LblNombre {
    color: #000000;
    font-style:italic;
    font-weight:bold;
    font-size: 3em;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-top: -250px;
    margin-left: -410px;
}

.Precio {
    color: #000000;
    font-style:italic;
    font-weight:bold;
    font-size: 3em;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-top: -250px;
    margin-left: -410px;
}